body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.wrapper{
	width: 1026px;
	margin: 0 auto;
}

p{
	color: #039;
}

a:link{
	text-decoration: none;
}

a{
	color: #CC3300;
}

a:hover{
	color: #ff4000;
}

a.home{
	font-size:30px; 
	margin-left:20px; 
	color: #ff4000;
}

a.home:hover{
	color: #CC3300;
}


h1{
	color: #336699;
}

h2, h3{
	color: #ff4000;
	/*color: #CC3300;*/
}

h2{
	font-size: 20px;
}

h3{
	font-size: 16px;
	margin-bottom: 5px;
}

textarea{
	width: 600px;
	min-height: 300px;
	border: none;
	color: #039;
}

form{
	width: 100%
}



header{
	/*height: 120px;*/
	margin-bottom: 40px;
	border-bottom: 1px solid #2A679F;

}

footer{
	min-width: 1026px;
	font-size: 11px;
	border-top: 1px solid #2A679F;
	text-align: center;
	color: #255a8b;
	clear: both;
}

/*////  Form Buscar ////*/

.form-buscar {
	width: 450px;
	height: 26px;
	padding: 5px;
	margin: 0 auto 40px auto;
	border: solid 1px #dedede;
	border-radius: 10px;    
	background-color: #f6f6f6;
}

.form-buscar #btn-buscar {
	width: 330px;
	height: 20px;
	padding: 2px 5px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 3px;      
}

.form-buscar #search:focus {
	outline: 0; 
	border-color: #aaa;
}

.form-buscar #submit {
	float: right;    
	border: 1px solid #00748f;
	height: 25px;
	width: 100px;
	cursor: pointer;
	color: #fafafa;  
	background-color: #0483a0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
	border-radius: 3px;      
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
}


#lista, izquierda{
	min-height: 440px;
}

#lista{
	width: 550px;
	/*height: 430px;*/
	display: block;
	float: left;
}

#izquierda{
	width: 404px;
	display: block;
	float: left;
	padding-left: 30px;
	margin-bottom: 40px;
}

/*////////*/

table{
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
	font-size: 12px;
	background: #fff;
	border-collapse: collapse;
	text-align: left;
}

.list-relations{
	width:"500";
	text-align:"center";
}


.lista{
	width: 550px;
}

.listaApp{
	width: 200px;
	margin-left: 110px;
}

.listaCategorias{
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
}

.centrado{
	margin: 0 44%;
}

table, th, td{
	border: 1px solid #abd1ee;
}

table th, thead{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 6px 5px;
	border-bottom: 2px solid #6678b1;
	background-color: #f6f6f6;
}

table td{
	color: #669;
	padding: 5px 3px;
	text-align: center;
}

table td:first-child{
	text-align: left;
	padding-left: 10px;
}

/*/////// Form nueva receta //////*/

#myform{
	width:100%;
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
	display: block;	
	margin: 30px auto;
}

.myform{
	width:100%;
	padding:14px;
}

#myform h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}

#myform p{
	font-size:11px;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
}

#myform label{
	font-size: 13px;
	display:block;
	font-weight:bold;
	text-align:center;
	width:100px;
	float:left;
	color: #336699;
}

#myform .small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:center;
	width:100px;

}

#myform textarea{
	font-size:12px;
	border:solid 1px #aacfe4;
	height: 380px;
	float: left;

	margin: 10px 0 20px;
	width: 862px;
}

#myform select{
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:100px;
	float: left;
	/*margin:10px 0 20px 0;*/
}

#myform input{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:200px;
	margin:2px 0 20px 10px;
}

#myform button{
	clear:both;
	margin-left:150px;
	width:125px;
	height:31px;
	background:#666666;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}

.fixmargin{
	margin-right: 11px;
}


/*/////////////////*/

#receta{
	font-size: 12px;
	/*min-height: 500px;*/
}

#receta input, textarea, select{
	color: #039;
}

#receta textarea{
	border-left: none;
	border-right: none;
	border-top: 1px solid #039;
	border-bottom: 1px solid #039;
	margin-bottom:20px; 
}

.nolinea{
	outline: none;
}


#receta label{
	font-size: 12px;
	color: #ff4000;
}

#receta textarea{
	width: 100%;
	height: 300px;
}

#receta button{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left:60%;
	width:125px;
	height:31px;
	background:#666666;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}

.formTitulo{
	color: #ff4000;
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

.centrados{
	width: 30px;
	text-align: center;
}

.input-mini{
	width: 50px;
	text-align: center;
}

.input-img{
	width: 300px;
	height: 300px;

}

#receta p{
	margin-bottom: 10px;
}

#receta span{
	font-weight: bold;
}

.receta-pics{
	width: 350px;
	float: left;
}

	.receta-pics img{
		width: 300px; 
		height: 300px;
		padding: 20px;
	}

	.receta-pics .upload{
		width: 300px;
		margin-left: 20px;
		margin-top: -50px;
		display: none;
	} 

	.receta-pics p{
		padding-left: 20px;
	}

	.receta span{
		font-weight: bold;
	}

.receta-info{
	width: 650px;
	float: left;
}

.centrar{
	text-align: center;
}

.aling{
	float: left;
	margin-right: 10px;
}

.clear{
	clear: both;
}

/*//////////////////*/

.receeta-info p{
	font-size: 12px;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}
.close {
	background: #e60000;
	color: #FFFFFF;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 25px;
	height: 25px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50%;
}

.modalDialog .eliminarBoton {
	margin: 10px 50px;
	padding: 5px 10px;
	background: #606061;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	border-radius: 10%;
}

/*////////Izquierda///////////*/


#circulo{
	margin-top:20px; 
	margin-left: 120px;
	margin-bottom: 30px;
}

.circulo{
	width: 150px;
	height: 150px;
	background: #31b2c3;
	margin-right: 48px;
	border-radius: 50%;
	float: left;
	position: relative;
}

.circulo a{
	position: absolute;
	top: 45%;
	left: 60px;
	font-size: 19px;
	color: #fff;
}

.circulo a:hover{
	color: #262626;
}

/*///Nav*/
nav{
	margin-top: 35px;
	font-size: 14px;
}


nav ul {
	margin-left:100px;
	margin-bottom: 30px;
	padding:0;
	list-style-type:none;
}

nav ul li {
	display: inline;
}

nav ul li a {
	display:block;
	background:#ebf4fb;
	width:200px;
	text-decoration:none;
	padding: 4px 7px;
	border-bottom:1px solid #b7ddf2;;
	border-top:1px solid #e2f1fa;
	border-left:5px solid #0099FF;
	color:#666666;
}

nav ul li a:hover {
	border-left-color:#ff4000;
	color:#0066FF;
	background: #eaeaea;
}
/*/////////////*/
.button {
	margin-top: 50px;
	margin-left: 50px; 
	margin-bottom: 30px;
	float: left;
    padding: 5px 10px;
    display: inline;
    background: #777;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    float: left;
    border-radius: 5px;
}

.button:hover {
    color: #FFF;
}

.button.blue { 
	background-color: #2c6da0; 
}

.dialogL{
	font-size: 13px;
	display: block;
	font-weight: bold;
	text-align: center;
	width: 100px;
	float: left;
	color: #336699;
}

.RecetaRelaciones
{
	font-family: Helvetica;
	border-radius: 10px;
}

.RecetaRelaciones tr
{
	border-radius: 10px;
}

.RecetaRelaciones tbody td
{
	color: BLUE;
	font-size: 20px;
}

.RecetaRelaciones thead td
{
	color: BLACK;
	font-size: 20px;
	font-weight: bold;
}

.searchRelaciones
{
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#inputSearchRelations
{
	border-radius:10px; 
	width: 200px;
	height: 30px;
	border: 1px solid GRAY;
	text-align: center;
}

#resultsOfRelationsSearch
{
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	z-index: 2;
	position: relative;
}

#BuscarReceta
{
	width: 200px;
	height: 50px;
	border-radius: 10px;
	font-size: 20px;
	border: 1px solid #a52a2a;
	color: BLUE; 
}

.GlosarioByRecipe
{
	width: 800px;
	min-height: 200px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid BLUE;
	padding-top: 15px;
	padding-bottom: 15px;
}

.idRecipe
{
	font-size: 25px;
}

.buttonRecipe
{
	width: 100px;
	height: 30px;
	font-size: 15px;
}

.newWordToGlosary
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.newWordToGlosary .input
{
	width: 200px;
	height: 30px;
	text-align: center;
}

.newWordToGlosary #submitWordToGlosary
{
	width: 200px;
	height: 30px;
	text-align: center;
}