/****************************************/
/*          Elementos                   */
/****************************************/
html {
    position: relative;
    min-height: 100%;
}

body{
     margin: 0 0 130px;
     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

p{
    color: #000;
}

a{
    color: #000;
}

a:hover{
    color: #000;
    text-decoration: underline;
}

a.home:hover{
    color: #000;
}

a.help:hover{
    color: #000;
}

h1{
    color: #000;
}

h2, h3{
    color: #000;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
}

strong{
    font-weight: bold;
}

input{
    background-color: #FFF;
}

label{
    position: relative;
    top: 6px;
    font-size: 13px;
    display: block;
    font-weight: bold;
    color: #000;
    margin-right: 10px;
    float: left;
}

/*************************************/
/*           Clases                  */
/*************************************/
.wrapper{
    width: 1087px;
    margin: 0 auto;
    position: relative;
}

.exportar {
    position: absolute;
    right: 0;
    padding: 5px 40px;
    display: inline;
    border: 1px solid #000;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow:-1px -1px 1px rgba(0,0,0,0.5) inset, 0px 0px 0px rgba(0,0,0,0.2)
}

.main{
    width: 100%;
    margin-top: 60px;
    position: relative;
}

.columna{
    width: 50%;
    float: left;
}

.columl{
    width: 460px;
    float: left;
}

.columr{
    width: 556px;
    float: left;
}

.clear{
    clear: both;
}

.left{
    float: left;
}

.uptext{
    color: #000;
    font-size: 24px;
    margin-right: 5px;
}

.help{
    color: #000;
    position: absolute;
    top: 50px;
    right: 40px;
}

.mg1{
    padding: 5px 73px !important;
    margin-left: 0;
    margin-bottom: -1px;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.button {
    padding: 5px 40px;
    display: inline;
    background: #FFF;
    border: 1px solid #000;
    color: #000000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.bl1:hover {
    background: #FFF;
    border: 1px solid #000;
    color: #000000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.blockscroll{
    display: block;
    min-height: 335px;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.tablew{
    width: 100%;
}

.post {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
}

.input {
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-size: 13px;
    color: #343434;
    min-width: 150px;
    height: 10px;
    background: #fbfbfb;
    border: 1px solid #cccdcf;
    padding: 8px 20px;
    box-shadow: inset 0 2px 3px #e8e8e8;
}

.buscar{
    margin-top: 2px; 
}


.bl2:hover {
    color: #FFF;
    text-shadow: none;
}

.exportar:hover {
    background: #abd1ee;
    border: 1px solid #039;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);

}

.txcenter{
    text-align: center;
}

.txleft{
    width: 252px;
    text-align: left;
    margin-left: 5px;
}

.bluetext{
    position: relative;
    text-align: left;
    color: #000;
    left: 10px;
}

.fixh1{
    margin-top: 9px; 
}

.fixh2{
    margin-top: 16px; 
}

.centrar{
    position: relative;
    width: 233px;
    margin: 0 auto;
}

/***************Mensajes*********************/
.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
    color: #c09853;
}

.alert .aclose {
    position: relative;
    top: -7px;
    right: -21px;
    line-height: 20px;
}

.aclose {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.aclose:hover{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

button.aclose {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

/*************************************/
/*           Header                   */
/*************************************/
header{
    position: relative;
    width: 100%;
    height: 190px;
    background-color: #FFF;
    border-bottom: 1px solid #000;
    margin-bottom: 30px; 
}

header img{
    margin-top: 25px; 
}

header a{
    font-weight: bold;
    text-decoration: none;
}

#app_name{
    position: absolute;
    right: 50px;
    bottom: 20px;
}

/*************************************/
/*           Contenido               */
/*************************************/
#addblock{
    width: 100%;
}

#tabla{
    width: 350px;
    margin: 0 auto;
}

/*************************************/
/*           Menu                    */
/*************************************/
#menu ul{
    width: 250px;
}

#menu ul li{
    display: block;
    background:url(../resources/img/bg_li.png) no-repeat;
    font-size:14px;
    line-height:32px;
    list-style-type:none;
    text-indent:8px;
}

#menu ul li a{
    text-decoration:none;
    color:#000;
}

#menu ul li:hover{
    background:url(../resources/img/hover.png) no-repeat;
}


#menu ul li.active{
    background:url(../resources/img/hover.png) no-repeat;
}

/*************************************/
/*           Footer                  */
/*************************************/
footer{
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #FFF;
    border-top: 1px solid #000;
    padding: 20px 0;
}

footer p{
    text-align: center;
    margin-top:10px;
    color: rgb(0, 0, 0);
}

/*************************************/
/*           Tabla                   */
/*************************************/
table{
    width: 337px;
    font-size: 12px;
    background: #fff;
    border-collapse: collapse;
    text-align: left;
}

table a{
    line-height: 1px;
    padding: 5px 6px 5px 0;
    text-decoration: none;
}


table, th{
    border: 1px solid #000;
}

table td{
    border-right:1px solid #000;
    border-bottom: 1px solid #000;
}

table th, thead{
    font-size: 14px;
    font-weight: normal;
    color: #000;
    padding: 6px 5px;
    border-bottom: 2px solid #000;
    background-color: #FFF;
}

table td{
    color: #FFF;
    padding: 5px 3px;
    text-align: center;
}

/*************************************/
/*           PopUp                   */
/*************************************/
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    opacity:0;
    pointer-events: none;
}

.modalDialog h2{
    text-align: center;
}

.modalDialog p{
    font-size: 14px;
    margin: 7px auto; 
    text-align: center;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 470px;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}

.close {
    background: #e60000;
    color: #FFFFFF;
    font-size: 21px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 25px;
    height: 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50%;
}

.modalDialog .eliminarBoton {
    margin: 10px 40%;
    padding: 5px 10px;
    background: #2c6da0;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10%;
}

.modalDialog .eliminarBoton:hover {
    background-color: #3788c8;
}

/*************************************/
/*           Borrar                  */
/*************************************/

#mjs{
    margin-top: 40px;
    width: 330px;
}

