/****************************************/
/*          Elementos                   */
/****************************************/

@font-face{
font-family: MyriadPro-Cond;
src: url('MyriadPro-Cond.otf'),
     url('MyriadPro-Cond.ttf'); /* IE9 */
}

html {
    position: relative;
    min-height: 100%;
}

body{
    min-width: 1087px;
     margin: 0 0 130px;
     background-color: #fff;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p{
    color: #000;
}

a{
    color: #000;
}

a:hover{
    color: #000;
    text-decoration: underline;
}

a.home{
    display: block;
    text-decoration: none; 
}

a.home:hover{
    text-decoration: underline;
    color: #000;
}

a.back{
    display: block;
    margin-bottom:20px;
    text-decoration: none; 
}

a.back:hover{
     text-decoration: underline;
     color: #000; 
}

h1{
    font-size: 20px;
    padding: 5px 0;
    color: #000;
}

h2, h3{
    color: #000;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
}

strong{
    font-weight: bold;
}

input{
    background-color: #FFF;
}

label{
    display: block;
}

/*************************************/
/*           Clases                  */
/*************************************/
.wrapper{
    width: 1087px;
    margin: 0 auto;
    position: relative;
}

.exportar {
    position: absolute;
    right: 0;
    padding: 5px 40px;
    display: inline;
    border: 1px solid #000;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow:-1px -1px 1px rgba(0,0,0,0.5) inset, 0px 0px 0px rgba(0,0,0,0.2)
}

.main{
    width: 100%;
    min-height: 560px;
    padding-top: 30px;
    position: relative;
    background-color: #FFF;
}

.bg_grey{
    padding: 20px 10px;
    background-color: #fbfbfb;
    border: 1px solid #efefef;
}

.columna{
    width: 30%;
    float: left;
}

.columr{
    width: 62%;
    float: left;
}

.columl{
    width: 38%;
    float: left;
}

.myriadFont{
    font-family: MyriadPro-Cond;
}

.columna:last-child{
    width: 70%;
}

.clear{
    clear: both;
}

.al_right{
    float: right;
}

.left{
    float: left;
}

.full{
    width: 950px;
}

.full2{
    width: 935px;
    height: 300px !important;
}

.wt_50{
    margin: 30px auto;
    width: 90% !important;
}


.prev{
    background: white;
    padding: 10px; 
    min-height: 300px;
    border: 1px solid #ccc;
}

.prev p{
    font-size: 12px !important;
    font-weight: normal !important;
    margin: 0 !important;
}

.title_app{
    margin: 0 0 31px;
    font-size: 30px;
}

.mg_input{
    margin-left: 30px;
}

.mg_input2{
    margin-right: 30px;    
}

.mg_form{
    position: absolute !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    right: 3px;
    top: 3px;
    margin: 0 !important;
    text-transform: none;
}

.uptext{
    color: #000;
    font-size: 24px;
    margin-right: 5px;
}

.help{
    color: rgb(119, 119, 119);
    position: absolute;
    top: 50px;
    right: 40px;
}

a.help:hover{
    color: #000;
}


.button {
    background: #222;
    display: inline-block;
    padding: 5px 15px 6px;
    color: #fff !important;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    overflow: visible;
    width: auto;
    margin-bottom: 30px;
}

.button:active {
    -webkit-transform: translate(0, 1px);
}

.large.button {
    font-size: 13px;
    padding: 8px 19px 9px;
}

/*.button.magenta{
    background-color: rgb(99, 0, 48);
}*/

.button.blue {
    background-color: rgb(45, 174, 191);
}

.button.orange {
    background-color: #f58220;
}

.button:hover {
    text-decoration: none;
}

.blockscroll{
    display: block;
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.tablew{
    width: 100%;
}

.tablas{
    display: block;
    width: 1087px;
    margin: 30px auto;
    background-color: #fcfcfc;
    overflow: hidden;
}

.post {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
}

.input {
    vertical-align: top;
    display: inline-block;    
    font-size: 13px;
    color: #343434;
    min-width: 150px;
    height: 13px;
    background: #fbfbfb;
    border: 1px solid #cccdcf;
    padding: 8px 20px;
    box-shadow: inset 0 2px 3px #e8e8e8;
}

.fix_input{
    position: absolute;
    z-index: 1;
    left: 2px;
    height: 7px;
    top: 3px;
}

.buscar{
    margin-top: 2px; 
}

.bl2:hover {
    color: #FFF;
    text-shadow: none;
}

.exportar:hover {
    background: #abd1ee;
    border: 1px solid #039;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}

.txcenter{
    text-align: center;
}

.txleft{
    text-align: left;
    text-indent: 5px;
    padding-right: 50px;
}

.fixh1{
    margin-top: 9px; 
}

.fixh2{
    margin-top: 16px; 
}

.centrar{
    position: relative;
    width: 212px;
    margin: 0 auto;
}

/***************Mensajes*********************/
.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;f
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
    color: #c09853;
}

.alert .aclose {
    position: relative;
    top: -7px;
    right: -21px;
    line-height: 20px;
}

.aclose {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.aclose:hover{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

button.aclose {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.mg-auto{
    width: 200px;
    margin: 0 auto;
    /*margin-bottom: 40px !important;*/
}

/*************************************/
/*           Header                   */
/*************************************/
header{
    position: relative;
    width: 100%;
    height: 190px;
    background-color: #fbfbfb;
    border-bottom: 1px solid #f0f0f0;
}

header img{
    margin-top: 25px; 
}

header a{
    font-weight: bold;
    text-decoration: none;
}

#app_name{
    position: absolute;
    right: 50px;
    bottom: 20px;
}

/*************************************/
/*           Contenido               */
/*************************************/
#addblock{
    width: 100%;
    position: relative;
}

#tabla{
    width: 100%;
}

#status{
    display: none;
    width: 400px;
    height: 30px;
    margin: 0 auto;
}
/*************************************/
/*           Menu                    */
/*************************************/
#menu{
    position: relative;
    width: 272px;
}

#menu ul{
    width: 100%;
}

#menu ul li{
    /*display: block;*/
    /*background:url(../resources/img/bg_li.png) no-repeat;*/
    /*line-height:32px;*/
    /*list-style-type:none;*/
    /*text-indent:8px;*/
    /*font-size: 14px;*/
    /*margin-bottom: 5px;*/
    /*border: 1px solid #000;*/
    display: inline;
}

#menu ul li a{
    display: block;
    background:#fbfbfb;
    width: 100%;
    font-size: 14px;
    text-decoration:none;
    padding: 4px 7px;
    /*border-bottom:1px solid #eeeeee;*/
    /*border-top:1px solid #cccccc;*/
    /*border-right:1px solid #cccccc;*/
    border-left:5px solid #522b1a;
    color:#333333;

    /*padding: 7px 176px 7px 0;*/
    /*text-decoration:none;*/
    /*color:#000;*/
}

/*#menu ul li:last-child a{
    padding: 7px 82px 7px 0;
    text-decoration:none;
    color:#000;
}*/

#menu ul li a:hover{
    border-left-color:#522b1a;
    color:#fff;
    background:#4e2919;
    /*background:url(../resources/img/hover.png) no-repeat;*/
}


#menu ul li a.active{
    border-left-color:#522b1a;
    color:#fff;
    background:#4e2919;
    /*background:url(../resources/img/hover.png) no-repeat;*/
}

/*************************************/
/*           Footer                  */
/*************************************/
footer{
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #fbfbfb;
    border-top: 1px solid #f0f0f0;;
    padding: 10px 0;
    color: #fff;
    font-size: 11px;
}

footer p{
    color: rgb(119, 119, 119);
    margin:5px 0;
}

footer a{
    text-decoration: none;
    float: right;
    color: rgb(119, 119, 119);
    margin:5px 0;
}


footer a:hover{
    text-decoration: underline;
    color: rgb(119, 119, 119);
}

/*************************************/
/*           Tabla                   */
/*************************************/
table{
    width: 100%;
    font-size: 14px;
    background: #fff;
    border-collapse: collapse;
    text-align: left;
}

table a{
    line-height: 1px;
    padding: 5px 6px 5px 0;
    text-decoration: none;
    color: rgb(119, 119, 119);    
}

table p{
    color: rgb(119, 119, 119);    
}

table a:hover{
    color: rgb(119, 119, 119); 
    text-decoration: underline;
}

table, thead, tbody, th, td, tr{
    -webkit-transition: all 1.2s linear;
    -moz-transition: all 1.2s linear;
    -o-transition: all 1.2s linear;
    transition: all 1.2s linear;
}

table, th{
    position: relative;
    border: 1px solid #613720;
}

table td{
    position: relative;
    padding: 7px 10px;
    text-align: center;
    border-right:1px solid #613720;
    border-bottom: 1px solid #613720;
}

.text-left{
    text-align: left;
}

table tr td:first-child{
    width: 549px;
}

.fix_colum{
    width: 869px !important;

}

table th, thead{
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 7px 5px;
    border-bottom: 2px solid #613720;
}

table thead{
    position: relative;
    background-color: #4e2919;
    color: #FFF;
    text-align: center;
    font-family: MyriadPro-Cond;
    text-transform: uppercase;
}

/*************************************/
/*           PopUp                   */
/*************************************/
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    opacity:0;
    pointer-events: none;
}

.modalDialog h2{
    margin-top: 20px;
    text-align: center;
}

.mg_top{
    font-size: 30px;
    margin-top: 2px;
}

.mg_t{
    margin: 20px 0 0;
}

.mg_e{
    margin: 20px 0;
}

.mg_bt{
    margin-bottom: 20px; 
}

.mg_20{
    margin: 30px 0;
    font-size: 24px;
}

.mgt_50{
    font-size: 28px;
    margin: 15px 0 50px;
}

.modalDialog p{
    font-size: 14px;
    margin: 7px auto; 
    text-align: center;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 470px;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}

.modalDialog .popup{
    display: block;
    padding: 13px;
    border-radius: 0px;
    position: relative;
}

.modalDialog .form_receta{
    width: 950px;
    height: 600px;
    margin: 2% auto;
}

.modalDialog .form_rc{
    width: 950px;
    height: 535px;
    margin: 2% auto;
}


.modalDialog .form_glosario{
    width: 600px;
    height: 516px;
    margin: 2% auto;
}

.modalDialog .form_delete{
    height: 164px;
}

.modalDialog .form_app{
    height: 200px;
}

.modalDialog .form_categoria{
    height: 308px;
}

.close {
    background: #e60000;
    color: #FFFFFF;
    font-size: 21px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 25px;
    height: 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50%;
}

a.close:hover{
    color: #220000;
    text-decoration: none;
}

.modalDialog .eliminarBoton {
    position: relative;
    left: 50%;
    margin-top: 20px;
    margin-left: -28px;
    padding: 5px 10px;
    background: #2c6da0;
    color: #8f5a0a;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10%;

    background-color: #ffb94b;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
}

.modalDialog .eliminarBoton:hover {
    background-color: #3788c8;
}


.modalDialog table tr td:first-child{
    width: 50%;
}

 .submit.add{
    width: auto;
    padding: 5px 10px;
 }

 .modalDialog table input{
    width: auto;
    min-height: auto;
    display: inline;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

/*************************************/
/*           divs                    */
/*************************************/

#controles{
    width: 100%;
    position: relative;
    height: 30px;
    margin-bottom: 10px;
}

#controles a{
    float: right;
    text-align: center;
}

#controles input{
    float: left;
}

#formulario{
    display: block;
    width: 97%;
    height: 97%;
    padding: 10px;
    background-color: #fbfbfb;
    overflow-x: hidden;
    overflow-y: scroll;
}

#preview{
    position: relative;
    top: -49px;
    display: block;
    margin-left: 220px;
    width: 30px;
    height: 30px;
    background-color: #ccc;
}

ul#sortable{
    width: 100%;
    position: relative;
    
}

ul#sortable li{
    display: block;
    width: 100%;
    position: relative;
    font-size: 14px;
    color: rgb(119, 119, 119);
}

ul#sortable li a{
    line-height: 1px;
    padding: 5px 6px 5px 0;
    text-decoration: none;
    color: rgb(119, 119, 119);
}

ul#sortable li span{
    display: block;
    float: left;
    padding: 7px 10px;

    border-right: 1px solid #613720;
    border-bottom: 1px solid #613720;
    
    text-align:  center;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 70px;
}

ul#sortable li:before,  
ul#sortable li:after {  
    content: " ";  
    display: table;  
}  
ul#sortable li:after {  
    clear: both;  
} 

ul#sortable li span:first-child{
    text-align: left;
    border-left: 1px solid #613720;
    width: 533px;
}

/*************************************/
/*           Formu                   */
/*************************************/
form{
    display: block;
}

fieldset{
    display: block;
    width: 1043px;
    min-height: 200px;
    /*border: 1px solid #613720;*/
    margin: 20px 0;
    padding: 10px;
    line-height: 100%;
}

fieldset table thead{
    /*background-color: #ccc;*/

}

fieldset table {
    border: 1px solid #613720;
    /*background-color: none ;*/

}

fieldset legend{
    display: block;
    padding: 0 10px;
}


/*************************************/
/*           Formulario              */
/*************************************/

.popup form{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.newreceta{
    width: 950px !important;
}

.popup input, textarea, select {
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 200px;
    min-height: 30px;
    margin-bottom: 16px;
    margin-top: 8px;
    padding-left: 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.popup select {
    height: 35px;
}

.popup p{
    font-size: 16px;
    font-weight: bold;
    margin: 30px auto;
}

.popup textarea {
    max-width: 950px;
    height: 400px;
}

.submit {
    position: relative;
    left: 50%;
    margin-left: -60px;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: #f58220;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#f58220), to(#f69038));
    background-image: -webkit-linear-gradient(top, #f58220, #f69038);
    background-image: -moz-linear-gradient(top, #f58220, #f69038);
    background-image: -ms-linear-gradient(top, #f58220, #f69038);
    background-image: -o-linear-gradient(top, #f58220, #f69038);
    background-image: linear-gradient(top, #f58220, #f69038);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    text-shadow: 0 1px 0 rgba(0,0,0,0.5);

    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;

    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);

    border-width: 1px;
    border-style: solid;
    border-color: #f1750b #f69038 #f1750b #f69038;
}

.submit.blue{
    position: absolute;
    top:60px;
    left: 960px;
    background-color: #2daebf;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2daebf), to(#1e7681));
    background-image: -webkit-linear-gradient(top, #2daebf, #1e7681);
    background-image: -moz-linear-gradient(top, #2daebf, #1e7681);
    background-image: -ms-linear-gradient(top, #2daebf, #1e7681);
    background-image: -o-linear-gradient(top, #2daebf, #1e7681);
    background-image: linear-gradient(top, #2daebf, #1e7681);
    border-color: #238896 #1e7681 #238896 #1e7681;
 }